#body {
    background-color: green;
}

#card {
    background-color: white;
    height: 550px;
    width: 380px;
    border-radius: 20px;

}

.pintaTop {
    height: 75px;
    width: 75px;
}

.pintaBot {
    /* transform: rotate(90deg); */
    height: 75px;
    width: 75px;
}

#conteiner-pintaTop {
    height: 75px;
    margin-top: 20px;
    margin-left: 15px;
}

#conteiner-pintaBot {
    height: 75px;
    margin-right: 15px;
}



#numero {
    height: 360px
    
}

#number{
    font-size: 150px;
}

.btn {
    height: 50px;
    margin-top: 20px;
}
